.add_to_card_input {
    border: 2px solid var(--color-background-000000);
    display: flex;
    max-width: 100px;
    min-width: 60px;
  }
  
  .add_to_card_input > input {
    width: 65px;
    padding-right: 16px;
    font-weight: var(--font-600);
    font-size: 20px;
    text-align: center;
  }
  
  .arrow_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
  }
  
  .arrow_box > svg {
    font-size: 20px;
    cursor: pointer;
  }
  